
/text/ds/grus_dss/data-science-from-scratch
text/ds/mckinney_pda/pydata-book/
text/math/axler_linalg/linear-algebra-done-right-solutions/
text/math/cohen_linalgds/linalg4datascience/
text/math/control_room/RoboticSystemsBook/
text/python/gorelick_hpy/high_performance_python_2e/
text/python/matthis_pycc/pcc_2e/
text/python/matthis_pycc/pcc_3e/
text/math/nield_essentialds/machine-learning-demo-data/
text/math/axler_linalg/linear_algebra/
text/ml/geron_scikertf/handson-ml2/
text/python/sweigart_pyauto/kudeh/automate-the-boring-stuff-projects/
text/r/kuhn/tmwr/
text/r/wickham/r4ds/
text/sql/tanimura/sql_book/
text/stats/davidson_bayesmethods/probabilistic-programming-and-bayesian-methods-for-hackers/
text/stats/downey_thinkbayes/thinkbayes/
